<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>XYbaoquan</display-name>



  <servlet>
    <servlet-name>Login</servlet-name>
    <display-name>Login</display-name>
    <description>Login as a member</description>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
     <servlet>
   	<servlet-name>securitytest</servlet-name>
   	<display-name>securitytest</display-name>
   	<description>securitytest</description>
   	<servlet-class>controller.securitytest</servlet-class>
   </servlet>
        <servlet>
   	<servlet-name>CAsimulation</servlet-name>
   	<display-name>CAsimulation</display-name>
   	<description>CAsimulation</description>
   	<servlet-class>controller.CAsimulation</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>YanZheng</servlet-name>
   	<display-name>YanZheng</display-name>
   	<description>YanZheng</description>
   	<servlet-class>controller.YanZheng</servlet-class>
   </servlet>
       <servlet>
   	<servlet-name>CA_generatekey</servlet-name>
   	<display-name>CA_generatekey</display-name>
   	<description>CA_generatekey</description>
   	<servlet-class>controller.CA_generatekey</servlet-class>
   </servlet>
      <servlet>
   	<servlet-name>UserLogin</servlet-name>
   	<display-name>UserLogin</display-name>
   	<description>UserLogin</description>
   	<servlet-class>controller.UserLogin</servlet-class>
   </servlet>
     <servlet>
   	<servlet-name>CA_yanzheng</servlet-name>
   	<display-name>CA_yanzheng</display-name>
   	<description>CA_yanzheng</description>
   	<servlet-class>controller.CA_yanzheng</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>YanZheng_notURL</servlet-name>
   	<display-name>YanZheng_notURL</display-name>
   	<description>YanZheng_notURL</description>
   	<servlet-class>controller.YanZheng_notURL</servlet-class>
   </servlet>
        <servlet>
   	<servlet-name>CA_yanzheng_OnlyTime</servlet-name>
   	<display-name>CA_yanzheng_OnlyTime</display-name>
   	<description>CA_yanzheng_OnlyTime</description>
   	<servlet-class>controller.CA_yanzheng_OnlyTime</servlet-class>
   </servlet>
     <servlet>
   	<servlet-name>CA_yanzheng_OnlyDevice</servlet-name>
   	<display-name>CA_yanzheng_OnlyDevice</display-name>
   	<description>CA_yanzheng_OnlyDevice</description>
   	<servlet-class>controller.CA_yanzheng_OnlyDevice</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>CA_yanzheng_TimeDevice</servlet-name>
   	<display-name>CA_yanzheng_TimeDevice</display-name>
   	<description>CA_yanzheng_TimeDevice</description>
   	<servlet-class>controller.CA_yanzheng_TimeDevice</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CA_yanzheng_All</servlet-name>
   	<display-name>CA_yanzheng_All</display-name>
   	<description>CA_yanzheng_All</description>
   	<servlet-class>controller.CA_yanzheng_All</servlet-class>
   </servlet>
     <servlet>
   	<servlet-name>CAsimulation_time</servlet-name>
   	<display-name>CAsimulation_time</display-name>
   	<description>CAsimulation_time</description>
   	<servlet-class>controller.CAsimulation_time</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>CAsimulation_device</servlet-name>
   	<display-name>CAsimulation_device</display-name>
   	<description>CAsimulation_device</description>
   	<servlet-class>controller.CAsimulation_device</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>YanZheng_notURL_middle</servlet-name>
   	<display-name>YanZheng_notURL_middle</display-name>
   	<description>YanZheng_notURL_middle</description>
   	<servlet-class>controller.YanZheng_notURL_middle</servlet-class>
   </servlet>
    <servlet>
   	<servlet-name>CAsimulation_all</servlet-name>
   	<display-name>CAsimulation_all</display-name>
   	<description>CAsimulation_all</description>
   	<servlet-class>controller.CAsimulation_all</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UploadFile</servlet-name>
   	<display-name>UploadFile</display-name>
   	<description>UploadFile</description>
   	<servlet-class>controller.UploadFile</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>YanZheng_Client</servlet-name>
   	<display-name>YanZheng_Client</display-name>
   	<description>YanZheng_Client</description>
   	<servlet-class>controller.YanZheng_Client</servlet-class>
   </servlet>
      <servlet>
   	<servlet-name>AddUser_Client</servlet-name>
   	<display-name>AddUser_Client</display-name>
   	<description>AddUser_Client</description>
   	<servlet-class>controller.AddUser_Client</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UserLogin_Client</servlet-name>
   	<display-name>UserLogin_Client</display-name>
   	<description>UserLogin_Client</description>
   	<servlet-class>controller.UserLogin_Client</servlet-class>
   </servlet>
      <servlet>
   	<servlet-name>securitytest_des</servlet-name>
   	<display-name>securitytest_des</display-name>
   	<description>securitytest_des</description>
   	<servlet-class>controller.securitytest_des</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>YanZheng_Client_des</servlet-name>
   	<display-name>YanZheng_Client_des</display-name>
   	<description>YanZheng_Client_des</description>
   	<servlet-class>controller.YanZheng_Client_des</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ZhiFutiaozhuan</servlet-name>
   	<display-name>ZhiFutiaozhuan</display-name>
   	<description>ZhiFutiaozhuan</description>
   	<servlet-class>controller.ZhiFutiaozhuan</servlet-class>
   </servlet>
   
   
   

   
   
   

   
  

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>securitytest</servlet-name>
    <url-pattern>/securitytest</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>CAsimulation</servlet-name>
    <url-pattern>/CAsimulation</url-pattern>
  </servlet-mapping>
          <servlet-mapping>
    <servlet-name>YanZheng</servlet-name>
    <url-pattern>/YanZheng</url-pattern>
  </servlet-mapping>
         <servlet-mapping>
    <servlet-name>CA_generatekey</servlet-name>
    <url-pattern>/CA_generatekey</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>CA_yanzheng</servlet-name>
    <url-pattern>/CA_yanzheng</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>YanZheng_notURL</servlet-name>
    <url-pattern>/YanZheng_notURL</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>CA_yanzheng_OnlyTime</servlet-name>
    <url-pattern>/CA_yanzheng_OnlyTime</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CA_yanzheng_OnlyDevice</servlet-name>
    <url-pattern>/CA_yanzheng_OnlyDevice</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>CA_yanzheng_TimeDevice</servlet-name>
    <url-pattern>/CA_yanzheng_TimeDevice</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>CA_yanzheng_All</servlet-name>
    <url-pattern>/CA_yanzheng_All</url-pattern>
  </servlet-mapping>
       <servlet-mapping>
    <servlet-name>CAsimulation_time</servlet-name>
    <url-pattern>/CAsimulation_time</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CAsimulation_device</servlet-name>
    <url-pattern>/CAsimulation_device</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>YanZheng_notURL_middle</servlet-name>
    <url-pattern>/YanZheng_notURL_middle</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CAsimulation_all</servlet-name>
    <url-pattern>/CAsimulation_all</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YanZheng_Client</servlet-name>
    <url-pattern>/YanZheng_Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser_Client</servlet-name>
    <url-pattern>/AddUser_Client</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UserLogin_Client</servlet-name>
    <url-pattern>/UserLogin_Client</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>securitytest_des</servlet-name>
    <url-pattern>/securitytest_des</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YanZheng_Client_des</servlet-name>
    <url-pattern>/YanZheng_Client_des</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhiFutiaozhuan</servlet-name>
    <url-pattern>/ZhiFutiaozhuan</url-pattern>
  </servlet-mapping>

  
  
  
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>login.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>

